#contenedor{
    width: 600px;
    margin-top: auto;
    background-color: white;
    float: left;
    padding-left: 10px;
    font-family: calibri;
}
span{
    width: 100px;
    display: block;
    float: left;
    padding-left: 4px;

}
.nom{
    background-color: darkgrey;
}
.titu{
    background-color: greenyellow;
}
li{
    list-style:none;
    margin-top: 1px;
}
ul{
    margin: 0px;
    padding-left: 0px;
}
.tituemail{
    width: 350px;
    background-color: cadetblue;
}
.nomemail{
    background-color: darkgrey;
    width: 350px;
}