#contenedor{
    width: 750px;
    margin-left: 27%;
    height: 500px;
    margin-top: auto;
    background-color: rgb(170, 179, 255);
    padding-left: 10px;
    font-family: calibri;
}
h3{
    text-align: center;
}
img{
    height: 200px ;
    width: 250px ;
    margin-top: 25px;
    margin-right: 70px;
    float:right;
}
span{
    width: 5px;
    font-size: 15px;
    display: block;
    float: left;
    padding-left: 4px;
}

input{
    margin-left:0%;
    width: 40%;
    background:rgb(222, 227, 243);
    padding: 11px;
    border-radius:8px;
    border: 1px solid rgb(123, 135, 179);
    font-size: 15px;
    margin-bottom: 0%;
}
.nom{
    background-color: white;
    width: 132px;
    text-align: center;
}
.titu{
    background-color: rgb(205, 224, 241);
    width: 132px;
    text-align: center;
    padding-left:0px;
}
li{
    list-style:none;
    margin-top: 1px;
}
ul{
    margin: 0px;
    padding-left: 0px;
}
.tituemail{
    width: 200px;
    background-color: rgb(205, 224, 241);
    text-align: center;
    
}
.nomemail{
    background-color: white;
    width: 218px;
    text-align: center;
}
.nomdireccion{
    width: 130px;
    text-align: center;
    background-color: white;
}

.nomapellido{
     width: 100px;
     background-color: white;
}

button{
    width: 180px;
    background:rgb(219, 225, 236) ;
    border: none;
    padding: 14px;
    font-size: 15px;
    border-radius: 8px;
    margin-left: 1px;
    margin-top: 1px;
    margin-bottom: 0%;
}